body {
  background-color: rgba(255, 255, 255, 0.986); /*OLD: rgba(245,245,247,255);*/
  margin-bottom: 1rem;
}

.navbar {
  padding: 0.25rem 1rem;
  background-color: white;
  border-top:rgba(0, 0, 0, .1) 1px solid; 
  color: rgb(75, 198, 75);
  font-weight: 600;
}

.navbar-brand img {
  filter: invert(55%) sepia(96%) saturate(320%) hue-rotate(71deg) brightness(98%) contrast(94%);
}

.current-list {
  padding-left: 1rem;
  padding-right: 1rem;
  height: 500px;
  overflow-y: scroll;
}

.substitute-product {
  border: 0px !important;
  color:rgba(210, 210, 210, 0.893);
  padding: 0% !important;
  white-space: nowrap;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}


.collapse-button {
  margin-left: 6rem !important;
  margin-bottom: 0.5rem !important;
}

.form-check-label {
  /* white-space: nowrap; */
  font-size: 15px;
  padding-top: 0.5em !important;
}

.form-check-input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-top: 15px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid #b0f6a6;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

.form-check-input[type="checkbox"]:checked {
  background-color: #b0f6a6;
}

.form-check-input[type="checkbox"]:focus {
  box-shadow: none;
}


/* .form-check-input {
  height: 20px;
  position: absolute;
  background-color:rgb(75, 198, 75);
} */


.form-check {
  padding-top: 1em;
  font-size: 4.5vw;
  font-weight: 300;
}

.form-check .row {
  background-color: #f5fff53a;
}

.item-bottom-border {
  border-bottom: #e1ffdd 2px groove;
  filter: drop-shadow(3px 1px 4px #a5d499);
  margin-right: 0.5em;
}

.end-of-list {
  border-top: #e1ffdd 2px groove;
  margin-top: 1em;
  justify-content: center;
  align-items: center;
  scale: 92%;
}
.down-arrow {
  filter: invert(55%) sepia(96%) saturate(320%) hue-rotate(71deg) brightness(98%) contrast(94%);
  border-bottom: 0px !important;
}

.collapse {
  margin: 0% !important;
}


.hero-text {
  white-space: nowrap;
  margin-top: 1em;
  margin-right: 8em;
  color:rgba(0, 0, 0, 0.744);
  font-size: 7vw;
  font-weight: 700;
  line-height: 1em;
}

.search {
  top: 2em;
}

.header {
  margin-top: 2em;
  margin-left: 0em;
  font-size: 4.5vw;
  color:rgba(0, 0, 0, 0.744);
  font-weight: 700;
  white-space: nowrap;

}

.section {
  margin-top: 0em !important;
}

#featured-list {
  margin-top: 3em !important;
  bottom: 0em !important;
  height: 100% !important;
  width: 100% !important;
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.featured-list-title-text {
  margin-top: -1.5em;
  font-size: 4vw;
  color:rgba(0, 0, 0, 0.744);
  font-weight: 500;
  white-space: nowrap;
}

.list {
  bottom: 3em;
  height: 9em;
  width: 9em;
  margin-right: 3%; 
  margin-left: 3%;
  margin-bottom: 3em;
  justify-content: center;
  border-radius: 30px; 
  border-color: transparent;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%); 
  white-space: normal; 
  overflow: hidden;
}

.navbar-brand img, .btn img, .list-savings-card img, .end-of-list img {
  height: 100%;
  object-fit: contain;
}

.list-title-text {
  text-align: center;
  margin-top: -2em;
  font-size: 3vw;
  color:rgba(0, 0, 0, 0.744);
  font-weight: 500;
  white-space: break-spaces;
}

.store-logo-img {
  margin-left: 3rem;
  scale: 155%;
}

.carbon-price-img {
  margin-left: 3.5rem;
  scale: 210%;
}

icon-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.item-counter {
  scale: 60%;
  top: 0em;
  margin-left: -15rem;
  right: -17rem;
}

.icon-sm {
  width: 2rem;
  margin: 0% !important;
  height: 2rem;
  background: #e3ffe3;
}

.button-minus, .button-plus {
  color: green;
  border: 0px solid !important;
}

.quantity-field {
  width: 10% !important;
}

/* .list-savings-card {
  margin-top: 13em !important;
  padding-left: 1.5rem !important;
} */

.co2-card, .receipt-card {
  border:rgb(75, 198, 75) 2px solid;
  border-radius: 10px;
  padding: 10%;
  margin-bottom: 8px;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}

.receipt-card img {
  filter: invert(55%) sepia(96%) saturate(320%) hue-rotate(71deg) brightness(98%) contrast(94%);
}

.generate-card {
  justify-content: center;
  align-items: center;
  margin-left: 17em !important;
  bottom: 5.5em !important;
  position: relative !important;
}

.generate-card img {
  margin-left: 0.5em !important;
  /* filter: invert(55%) sepia(96%) saturate(320%) hue-rotate(71deg) brightness(208%) contrast(74%); */
}

.featured-stores {
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  height: 50px !important;
  box-shadow: 2px 4px 12px rgba(124, 213, 119, 0.285); 
  width: 135px;
}

.featured-profiles {
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-left: -1em;
  height: 50px !important;
  box-shadow: 2px 4px 12px rgba(124, 213, 119, 0.285); 
  width: 80px;
}

.featured-save {
  justify-content: center;
  align-items: center;
  margin-left: -4.5rem;
  margin-top: 2rem;
  height: 50px !important;
  box-shadow: 2px 4px 12px rgba(124, 213, 119, 0.285); 
  width: 50px;
}

.featured-add {
  justify-content: center;
  align-items: center;
  margin-left: -3rem;
  margin-top: 2rem;
  height: 50px !important;
  box-shadow: 2px 4px 12px rgba(124, 213, 119, 0.285); 
  width: 50px;
}


.featured-stores .img-square-wrapper {
  margin-left: 22% !important;
}

.featured-stores .img-square-wrapper img {
  float: left;
  margin-left: -44% !important;
}


.featured-profiles .img-square-wrapper {
  margin-left: 45% !important;
}

.featured-profiles .img-square-wrapper img {
  float: left;
  margin-left: -60% !important;
}

.featured-save .img-square-wrapper img, .featured-add .img-square-wrapper img {
  margin-bottom: -25% !important;
  margin-left: -10% !important;
  filter: invert(55%) sepia(96%) saturate(320%) hue-rotate(71deg) brightness(98%) contrast(94%);
}

.featured-save .img-square-wrapper p, .featured-add .img-square-wrapper p  {
  margin-bottom: 18% !important;
  margin-left: 21% !important;
  font-size: 10px;
  color:rgb(75, 198, 75);
}

.featured-save .img-square-wrapper, .featured-add .img-square-wrapper {
  margin-left: 10% !important;
}

.featured-product {
  margin-top: 2rem;
  height: auto;
  box-shadow: 2px 4px 12px rgba(124, 213, 119, 0.285); 
}

.card-horizontal {
  padding: 0;
  display: flex;
}

.card-body {
  padding: 0;
}

.featured-product-title-text {
  position: relative;
  font-size: 4vw;
  color:rgba(0, 0, 0, 0.744);
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: 10px;
  margin-top: 10px;
}

.featured-store-logo-img {
  margin-left: -0.5rem;
  /* margin-top: -0.5rem !important; */
  width: 25% !important;
}

.featured-product-logos {
  margin-left: 3.5rem;
  /* margin-top: -0.7rem !important; */
  width: 25% !important;
  scale: 250%;
}

.featured-product-counter {
  scale: 60%;
  /* top: -1.7em; */
  margin-top: 10px;
  margin-left: -16.5rem;
  right: -15rem;
}

.find-products-item {
  scale: 50% !important;
}

/* sidebar */
#mySidebar {
  border-radius: 20px;
  width: 50%;
}

#sidebar-name{
  text-align: center;
  background-color:rgb(226, 240, 207);
  color: rgb(75, 198, 75);
  font-weight: 600;
}

/* itemList */
.itemNameInput {
  /* width: 40%; */
  margin-left: 20px;
  border: none;
}

/* product card */
.product-card {
  height: auto;
  width: 100%;
  margin-top: 20px;
  border: 1px solid rgb(146, 201, 103);
  box-shadow: 1px 1px 2px rgb(206, 228, 193);
  border-radius: 10px;
}

.product-card-img {
  margin: 10px;
  background-color: white;
  border: 3px solid rgb(248, 251, 243);
  border-radius: 10px;
}

.product-card-content {
  display: inline-block;
  vertical-align: top;
}

.product-card-title {
  margin-top: 10px;
  font-size: 1.0rem;
  max-width: 180px;
  overflow-wrap: break-word;
}

.product-card-info {
  margin-top: 5px;
}

.product-card-quant {
  margin-top: 5px;
}

/* footer */
#footerInfo {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 10px;
}